<section class="benefit_overview">
<h3>Vorteile</h3>

<div class="container"><a href="/benefits#investment"><i class="fas fa-money-bill-alt"></i><h4>Investitionskosten</h4><span>keine Investitionen upfront für die Inbetriebnahme notwendig</span>

<div class="more">mehr »</div></a><a href="/benefits#hardware"><i class="fas fa-server"></i><h4>Hardware</h4><span>keine Anschaffung von inhouse Hardware notwendig</span>

<div class="more">mehr »</div></a><a href="/benefits#diskspace"><i class="fas fa-hdd"></i><h4>Datenspeicher</h4><span>keine Erweiterung des Archivspeichers nach Jahren notwendig</span>

<div class="more">mehr »</div></a><a href="/benefits#license"><i class="fas fa-certificate"></i><h4>Lizenzaufstockung</h4><span>keine komplizierte Erweiterung der Lizenzen notwendig</span>

<div class="more">mehr »</div></a><a href="/benefits#operations"><i class="fas fa-users"></i><h4>Betrieb</h4><span>kein Aufwand für den Betrieb des Archivs notwendig</span>

<div class="more">mehr »</div></a></div>

</section>
