<section class="benefits">
  <h3>Unsere Vorteile</h3>
  <article>
    <div>
      <h4>
        <a name="investment"></a><strong>Keine</strong> Investitionskosten
        "upfront"
      </h4>
      <p>
        Gerade für kleine und mittelständische Unternehmen ist es oft
        problematisch auf unbekanntem Terrain in Vorleistung zu gehen. Der
        Gesetzgeber stellt bestimmte Anforderungen an eine rechts- und
        revisionssichere E-Mail-Archivierung:
      </p>
      <p>
        Eine vollständige Übergabe der E-Mails an das Archivsystem. Alle
        archivierten E-Mails müssen mit dem Original übereinstimmen und dürfen
        nicht manipuliert werden. Die Archivierung muss zeitnah erfolgen. Aus
        Ordnungsaspekten müssen ausreichende Indexstrukturen vorhanden sein. Das
        Archiv muss unveränderbar, also revisionssicher sein. Nicht zuletzt
        müssen Protokollierungsfunktionen sowie (ganz wichtig) eine
        Verfahrensdokumentation existieren. Dazu darf es keine Einschränkung der
        maschinellen Auswertbarkeit geben.
      </p>
      <p>
        All das sind Herausforderungen die durch nicht IT-Unternehmen nur selten
        abgedeckt oder geleistet werden können. Nicht nur die technische
        Komponente sondern auch die personelle spielt hierbei eine entscheidende
        Rolle. Der <span class="posttresor">Post<em>Tresor</em></span> nimmt
        ihnen diese Baustelle ab und bietet mit fest kalkulierbaren Kosten das
        Ziel der gesetzlichen E-Mail-Archivierung.
      </p>
    </div>
  </article>
  <article>
    <div>
      <h4>
        <a name="hardware"></a><strong>Keine</strong> Anschaffung und Pflege
        eigener Hardware
      </h4>
      <p>
        Infrastruktur, auf welcher Software läuft die gesetzlichen Ansprüchen
        genügen soll, muss Hand und Fuß haben. Neben der reinen Anschaffung,
        gehört die Pflege und ggf. Erweiterung der Technik natürlich mit dazu.
        Nicht vergessen werden darf auch ein Rescue-Szenario im Fall das es
        Hardwareprobleme gibt.
      </p>
      <p>
        Der <span class="posttresor">Post<em>Tresor</em></span> - als ein
        Software-as-a-Service Angebot - nimmt Ihnen das große Thema Hardware
        komplett ab. Wir selbst vertrauen wiederum mit Amazon Web Services auf
        einen der größten und modernsten Provider der Welt.
      </p>
    </div>
  </article>
  <article>
    <div>
      <h4>
        <a name="diskspace"></a><strong>Keine</strong> Erweiterung des
        Datenspeichers
      </h4>
      <p>
        Der Gesetzgeber verlangt Geschäftsbriefe (E-Mails) 6 Jahre lang
        aufzubewahren. Je nach Größe Ihrer Organisation und der Kultur der
        E-Mailnutzung, kann die Datenmenge im Verlauf der Zeit beachtlich
        anwachsen. Ein Faktor den man nicht unbedacht lassen darf.
      </p>
      <p>
        Dies hat zu Folge das nicht nur der Datenspeicher der technischen
        E-Mail-Archivierungslösung erweitert, sondern ggf. auch die
        Backupkapazität entsprechend angepasst werden muss.
      </p>
      <p>
        Die redundant und hochverfügbaren Datenspeicher des
        <span class="posttresor">Post<em>Tresor</em></span> passen sich
        automatisch der Datenmenge Ihres Archivs an.
      </p>
    </div>
  </article>
  <article>
    <div>
      <h4>
        <a name="license"></a><strong>Keine</strong> Lizenzaufstockung bei
        weiteren E-Mail Konten
      </h4>
      <p>
        In heutigen betrieblichen Organisationen ist es nicht unüblich das
        Mitarbeiter kommen und gehen. All das stellt für die Archivierung Ihrer
        E-Mails ggf. ein Problem dar. Viele selbst gehostete
        Archivierungslösungen lizensieren jeweils nur komplette Pakete in denen
        eine bestimmte Menge von E-Mail Konten inkludiert ist. Überschreiten Sie
        beispielsweise beim Eintritt neuer Mitarbeiter bestimmte Grenzen, wird
        eine teure Nachlizensierung fällig.
      </p>
      <p>
        Der <span class="posttresor">Post<em>Tresor</em></span> hingegen kennt
        lediglich eine einzige Art der Abrechnung - nämlich pro E-Mail Konto.
        Ganz egal zu welcher Zeit Sie wieviele E-Mail Konten archivieren müssen,
        <span class="posttresor">Post<em>Tresor</em></span> skaliert
        überschaubar und kalkulierbar mit. Dazu kommt: Je höher die Anzahl der
        abgenommenen Konten, desto günstiger der Preis pro Konto.
      </p>
    </div>
  </article>
  <article>
    <div>
      <h4>
        <a name="operations"></a><strong>Keine</strong> eigenen Ressourcen für
        den Betrieb notwendig
      </h4>
      <p>
        Die wenigsten Soft- oder Hardwaresysteme laufen ohne Weiteres über einen
        längeren Zeitraum ohne menschliches Zutun. Sie müssten also nicht nur
        technische, sondern natürlich auch menschliche Resourcen für eine
        E-Mail-Archivierung einplanen.
      </p>
      <p>
        Beim <span class="posttresor">Post<em>Tresor</em></span> wird Ihnen auch
        diese Baustelle abgenommen: Weder benötigen Sie geschulte Mitarbeiter
        für den Betrieb, noch müssen Sie überhaupt Kapazitäten für dieses Thema
        binden.
      </p>
    </div>
  </article>
</section>
