<footer>
  <section class="contact">
    <h3><a name="contact">Kontakt</a></h3>
    <div class="container">
      <div class="email">
        <h4>E-Mail</h4>
        <a href="mailto:posttresor@inoxio.de">posttresor@inoxio.de</a>
      </div>
      <div class="phone">
        <h4>Telefon</h4>
        <a href="tel:+493614306456">+49 361 4306456</a>
      </div>
      <div class="social">
        <h4>Social Media</h4>
        <ul>
          <li><a href="https://twitter.com/inoxio">Twitter</a></li>
          <li>
            <a
              href="http://www.facebook.com/pages/inoxio-Quality-Services-GmbH/130513677029511"
              >Facebook</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div class="content">
    <nav>
      <ul>
        <li><a href="/imprint">IMPRESSUM</a></li>
        <li><a href="/privacy">DATENSCHUTZ</a></li>
      </ul>
    </nav>
    <div class="copyright">
      Made with ♥ by<a href="https://inoxio.de">inoxio Quality Services GmbH</a>
    </div>
  </div>
</footer>
