<section class="graphic">
  <h3>Cloud-Architektur</h3>
  <div class="sidebyside">
    <div class="image">
      <img src="{{ '/assets/images/system_graphic.png' | relative_url }}" />
    </div>
    <div class="explanation">
      <h4>Datenschutz in Deutschland</h4>
      <p>
        Datenschutz ist uns überaus wichtig! Aus diesem Grund speichern wir Ihr
        E-Mail-Archiv ausschließlich in AWS Rechenzentren auf deutschem
        Staatsgebiet.
      </p>
      <h4>automatische Skalierung</h4>
      <p>
        Ein großer Vorteil eines Cloud-Konzeptes ist die Möglichkeit Ressourcen
        entsprechend zu skalieren. Ganz egal wo sich Ihr Archiv über die Zeit
        hinbewegt: Der
        <span class="posttresor">Post<em>Tresor</em></span> skaliert automatisch
        und ohne Schwierigkeiten mit.
      </p>
      <h4>Sicherheit und Backup</h4>
      <p>
        Alle Services des
        <span class="posttresor">Post<em>Tresor</em></span> sind fehlertolerant
        und gegen unbefugten Zugriff geschützt. Dazu gewährleisten wir
        regelmäßige automatische Backups in AWS S3 Buckets - wiederum
        ausschließlich in Deutschland.
      </p>
    </div>
  </div>
</section>
