<section class="keyfacts">
  <div>
    <h3><i class="fas fa-server"></i>100% Software-as-a-Service</h3>
    Vollumfängliche Bereitstellung, Betrieb und Verwaltung in (und
    ausschließlich in) Deutschland. Abrechnung nach dem pay-per-use Modell, d.h.
    nach der Anzahl der E-Mail Konten.
  </div>
  <div>
    <h3><i class="fas fa-cloud"></i>Software + Cloud</h3>
    Mit Benno MailArchiv vertrauen wir auf eine seit Jahren am Markt etablierte
    Softwarelösung. Gepaart mit Amazon Web Services (AWS) entsteht ein
    zuverlässiges SaaS-Produkt.
  </div>
  <div>
    <h3><i class="fas fa-gavel"></i>rechts- u. revisionssicher</h3>
    GoBD-Konformität durch Nachvollziehbarkeit, Nachprüfbarkeit, Wahrheit,
    Klarheit und fortlaufender Aufzeichnung Ihrer E-Mails in das Archiv.
  </div>
  <div>
    <h3><i class="fas fa-shield-alt"></i>ausfallsicher u. hochverfügbar</h3>
    Der Betrieb in voneinander unabhängigen Standorten sowie selbstheilende
    Services sichern eine maximale Hochverfügbarkeit sowie Ausfallsicherheit.
  </div>
  <div>
    <h3><i class="fas fa-tachometer-alt"></i>Skalierbarkeit u. Backups</h3>
    Egal ob 5 oder 1000 E-Mail Konten archiviert werden sollen:
    <span class="posttresor">Post<em>Tresor</em></span> skaliert automatisch
    mit. Für den Fall der Fälle existiert ein regelmäßiges Backups ihres
    Archivs.
  </div>
  <div>
    <h3><i class="fas fa-eye"></i>moderne Web-UI</h3>
    Mobile-ready, responsive, Volltextsuche mit einzigartiger Suchperformance
    und Treffergenauigkeit, OCR-Erkennung
  </div>
</section>
