<section class="plans">
  <h3><a name="prices">Preise</a></h3>
  <p>
    Der <span class="posttresor">Post<em>Tresor</em></span> hat ein denkbar
    einfaches Preismodell: Sie zahlen pro archiviertem E-Mail-Konto. Der Preis
    richtet sich dabei nach der Anzahl der archivierten Konten und sinkt je
    größer die Menge der archivierten Postfächer. Jedes Paket besitzt ein
    Inklusivkontingent an Speicherplatz für das gesamte Archiv. Es ist so
    dimensioniert, dass Sie die erste Zeit ohne zusätzliche Kosten auskommen.
  </p>
  <ul>
    <li class="plan one">
      <h4>Nano</h4>
      <div class="info price">
        <span class="currency">EUR</span><span class="number">7,00</span
        ><span class="month">/Monat</span>
      </div>
      <div class="info size">ab<span class="number">1</span>Postfach</div>
      <div class="info contract">
        <span class="number">12 Monate</span>Vertragslaufzeit
      </div>
      <div class="info diskspace">
        Archivgröße:
        <div class="incl"><span class="number">1 GB</span>inklusive</div>
        <div class="extra">
          jedes weitere GB<br /><span class="number">80ct</span>/Monat
        </div>
      </div>
    </li>
    <li class="plan two">
      <h4>Small</h4>
      <div class="info price">
        <span class="currency">EUR</span><span class="number">4,50</span
        ><span class="month">/Monat</span>
      </div>
      <div class="info size">ab<span class="number">5</span>Postfächern</div>
      <div class="info contract">
        <span class="number">36 Monate</span>Vertragslaufzeit
      </div>
      <div class="info diskspace">
        Archivgröße:
        <div class="incl"><span class="number">3 GB</span>inklusive</div>
        <div class="extra">
          jedes weitere GB<br /><span class="number">80ct</span>/Monat
        </div>
      </div>
    </li>
    <li class="plan three">
      <h4>Medium</h4>
      <div class="info price">
        <span class="currency">EUR</span><span class="number">3,50</span
        ><span class="month">/Monat</span>
      </div>
      <div class="info size">ab<span class="number">20</span>Postfächern</div>
      <div class="info contract">
        <span class="number">36 Monate</span>Vertragslaufzeit
      </div>
      <div class="info diskspace">
        Archivgröße:
        <div class="incl"><span class="number">5 GB</span>inklusive</div>
        <div class="extra">
          jedes weitere GB<br /><span class="number">72ct</span>/Monat
        </div>
      </div>
    </li>
    <li class="plan four">
      <h4>Large</h4>
      <div class="info price">
        <span class="currency">EUR</span><span class="number">2,50</span
        ><span class="month">/Monat</span>
      </div>
      <div class="info size">ab<span class="number">100</span>Postfächern</div>
      <div class="info contract">
        <span class="number">60 Monate</span>Vertragslaufzeit
      </div>
      <div class="info diskspace">
        Archivgröße:
        <div class="incl"><span class="number">5 GB</span>inklusive</div>
        <div class="extra">
          jedes weitere GB<br /><span class="number">64ct</span>/Monat
        </div>
      </div>
    </li>
    <li class="plan five">
      <h4>Enterprise</h4>
      <div class="info price">
        <span class="currency">EUR</span><span class="number">1,50</span
        ><span class="month">/Monat</span>
      </div>
      <div class="info size">ab<span class="number">400</span>Postfächern</div>
      <div class="info contract">
        <span class="number">60 Monate</span>Vertragslaufzeit
      </div>
      <div class="info diskspace">
        Archivgröße:
        <div class="incl"><span class="number">10 GB</span>inklusive</div>
        <div class="extra">
          jedes weitere GB<br /><span class="number">56ct</span>/Monat
        </div>
      </div>
    </li>
  </ul>
  <div class="exclmwst">alle Preise exkl. MwSt</div>
  <div class="exclmwst">
    Dieses Angebot richtet sich ausschließlich an gewerbliche Kunden.
  </div>
</section>
