section.imprint {
  margin: 3em auto;
  
  .row {
    display: flex;
    @include breakpoint(mobileonly){
      display: block;
    }
    
    margin: 1em 0;
    
    .label {
      flex: 1 1 30%;
      font-style: italic;
      color: #888;
    }
    .value {
      flex: 1 1 70%;
      
      & > p:first-of-type {
        margin-top: 0;
      }
    }
    
  }
}